Variables 
:root {
    --primary: #960150;
    --primaryText: rgb(43, 43, 43);
    --greyLight: #dee2e6;
    --greyDark: #999;
  }

  .excess-button-container button {
    color: var(--primaryText) !important;
    
    
  }

  .excess-button-container button:hover {
    background-color: var(--greyLight) !important; 
  }
  
  .excess-button-container button:active {
    background-color: var(--greyDark) !important;
  }

  .excess-button-container button:disabled {
    color: var(--greyLight) !important;
  }
/*
  .excess-button-container button:focus {
    background-color:  var(--greyDark) !important;
    color: white !important;
  }
  */
/*
  .examBoards button:focus {
    background-color: #f8f9fa !important;
    /*color: white !important;*//*
  }
*/
  .excess-button-container button {
    color: var(--primary) !important;    
    font-size: 1rem;
    width: 100%;
  }
  /*
  button:hover {
    color: var(--primaryText) !important;
    opacity: .7;
  }
background-color: var(--primary) !important;
  */