.test-tube {
    position: relative;
    width: 100%;
    /*height: 300px;*/
    margin-top: 5%;
}

.absolute-positioning-experiment {
    position: absolute;
    left: 0;
}

.excess-button {
    position: relative;
}