.row-of-tubes {
    display: inline-flex;
    /*position: relative;*/
   /*background: url("images/laboratory background.jpg") no-repeat;
   height: 60vh;*/
}

button {
    background: rgba(255, 122, 89, 0);
    border: rgba(255, 122, 89, 0);
}