/* Variables 
:root {
    --primary: #960150;
    --primaryText: rgb(43, 43, 43);
    --greyLight: #dee2e6;
    --greyDark: #999;
  }
*/
li {
    color: var(--primary) !important;
    background-color: var(--primary) !important;
    
  }

  li:hover {
    background-color: var(--greyLight) !important; 
  }

  button {
    color: var(--greyLight) !important;    
  }
  
  button:hover {
    color: var(--primaryText) !important;
    opacity: .7;
  }